<h1>로그인</h1>

<form action="/form" method="POST">
    <label for="name">name:</label><br>
    <input type="text" id="name" name="name" value="이름"><br>
    <label for="email">email:</label><br>
    <input type="text" id="email" name="email" value="abc@abc.com"><br>
    <input type="submit" value="Submit">
</form>